<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.onen.dao.ArticleMapper">

    <insert id="addArticle" parameterType="com.example.onen.model.ArticleInfo">
        insert into articleinfo (title,content,uid) values(
            #{title},#{content},#{uid}
        )
 </insert>
</mapper>